<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Log In</h1>
      <form action="register" method="post">
     <div class="">
       <label for="username">Username: </label>
       <input type="text" name="username" id="username">
     </div>
      <div class="">
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
      </div>
      <div class="">
        <a href='/'>Log In</a>
        <input type="submit" name="name" value="Register">
      </div>
      </form>
  </body>
</html>
